.repomix-button.btn-sm.btn.BtnGroup-item {
  display: inline-flex;
  align-items: center;
  gap: 0px;
}

.repomix-button .octicon {
  display: inline-flex;
  align-items: center;
}

.repomix-button .octicon img {
  vertical-align: text-bottom;
}
